*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 787px;
    margin: 0 auto;
    padding: 0 15px;
}
ul,ol{
    list-style-type: none ;
}
a{
    text-decoration: none;
}
.header{
    background-color: #0C151D;
    padding-top: 178px;
    padding-bottom: 68px;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    color: white;
    margin-left: 40px;
}
.nav__list{
    display: flex;
    justify-content: space-between;
} 
.project{
    background-color: #0C151D;
    padding: 56px 0;  
}
.project__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 756px;
}
.project__item{
    margin-top: 48px;
    width: 362px;
    overflow: hidden;
    img{
       width: 100%; 
    }
}
@media (max-width:790px){
    .project__list{
        justify-content: space-around;
    }
    .project__item{
        width: 90%;
    }
}
@media (max-width:500px){
    nav{
        img{
            margin: 0 auto;
        }
        flex-direction: column;
        text-align: center;
        h2{
            margin-top: 15px;
        }
        p{
            margin-top: 15px;
        }
    }
    .nav__list{
        margin-top: 20px;
        justify-content: center;
    }
}
.modal {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 30px 10px yellow;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
    transition: all ease 0.5s;
    position: fixed;
    background-color:white;
  }
  
  .modal__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    button{
      background-color: transparent;
      border: none;
      padding: 10px;
      justify-content: center;
    }
  }
  .modal__footer{
    border-top: 1px solid #000;
    padding-top: 10px;
    display: flex;
    justify-content: end;
    button{
      background-color: black;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 10px;
      justify-content: center;
    }
    button:nth-child(1){
      background-color: red;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 10px;
  
    }
  }
  .open__modal{
    top: 300px;
    left: 40%;
    transform: translateX(0px);
  
   
    transition: all ease 0.5s;
  }
  .modal__shadow{
    width: 100vw;
    height: 100vh;
    background-color: #0000002a;
    display: none;
  }
  .scroll__none{
    overflow-y: hidden;
    padding-right: 17px;
  }
  .dark{
    display: flex;
    justify-content: end;
  }
  .modam{
    justify-content: start;
  
  }
  .dark__mode{
    background-color: black;
    color: white;
    font-weight: bold;
    border: 3px solid red;
    padding: 10px 20px;
    border-radius: 10px;
  }
  .day__mode{
    background-color: white;
    color: black;
    font-weight: bold;
    border: 3px solid black;
    padding: 10px 20px;
    border-radius: 10px;
  }
  .modal__des{
    color: white;
  }